body{
    background-color: aqua;
}

.container{
    display: flex;
    justify-content: center;
}

.container2{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border: solid 1px;
}

.datos{
    justify-content: center;
    text-align: center;
}

td{
    border: solid 1px;
    background-color: white;
}

.container3{
    display: flex;
    margin-top: 20px;
}

.datos{
    border: solid 1px;
    width: 50%;
}

.mostrar{
    border: solid 1px;
    width: 50%;
}